.tasker-container {
  display: flex;
  flex-direction: column;
  flex: 3.5;
  /* background: linear-gradient(90deg, rgb(108, 170, 1) 0%, rgb(0, 81, 7) 100%); */
  background: linear-gradient(270deg, rgb(91, 91, 91) 0%, rgb(38, 38, 38) 100%); /* grey */
  box-shadow: -6px -10px 30px 10px black inset;
  padding: 2px 6px 8px 6px;

  height: 600px;
  overflow-y: hidden;
  overflow-x: hidden;

  margin-right: 8px;
  color: white;
  border: 3px solid rgb(4, 4, 4); /* nije skroz black vec je malo svjetlija */
  border-bottom-width: 8px;
  border-right-width: 6px;
  border-radius: 18px;

  position: relative;
}

.tasker-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  width: 100%;
  margin: -2px 6px 22px -2px;
  padding-top: 0;
}

.tasker-title {
  font-size: 26px;
  color: white;
  font-weight: bold;
  margin-left: 8px;
  padding-top: 4px;
}

.add-tasker-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 30px;
  padding: 6px 8px 0 0;
  margin-bottom: 0;
  transition: 0.1s;
}

.add-tasker-icon:hover {
  cursor: pointer;
  color: black;
}

.taskers-body-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 12px;
  row-gap: 18px;
  margin: 0 8px;
  padding-bottom: 12px;
  /* border: 2px solid red; */
  height: fit-content;
}

.main-task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-width: 240px;
  height: 200px;

  border: 3px solid rgb(4, 4, 4);
  border-radius: 18px;
  border-bottom-width: 8px;
  border-right-width: 6px;
  background: linear-gradient(270deg, rgb(108, 170, 1) 0%, rgb(0, 81, 7) 100%);
  /* background: linear-gradient(90deg, rgb(91, 91, 91) 0%, rgb(38, 38, 38) 100%); */
  transition: 0.2s;
}

.main-task-container:hover {
  border-color: white;
}

.main-task-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid white; */
  width: 90%;
  height: fit-content;
  color: black;

  margin: 2px 4px 6px 4px;
}

.main-task-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
}

.main-task-title:hover {
  color: white;
}

.main-task-body {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  width: 92%;
  height: 80%;
}