body {
  /* background: linear-gradient(90deg, rgb(91, 91, 91) 0%, rgb(38, 38, 38) 100%); grey */
  background: linear-gradient(90deg, rgb(103, 0, 100) 0%, rgb(48, 0, 20) 100%);
  /* background-color: rgb(103, 103, 103); */

  font-family: Arial, Helvetica, sans-serif;
  height: 700px; /* obrisi i podesi visinu */
}

button {
  background: linear-gradient(90deg, rgba(109,170,1,1) 0%, rgb(0, 81, 7) 100%);
  /* background-color: rgb(120,170,5); */
  /* border: 2px solid black; */
  border: 2px solid white;
  border-radius: 2px;
  text-align: center;
  text-justify: center;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 8px;
  color: white;
  transition: 0.2s;
  height: 26px;
  min-width: 82px;
  margin-bottom: 4px;
}

button:hover {
  border-radius: 24px;
  background: linear-gradient(270deg, rgb(91, 91, 91) 0%, rgb(38, 38, 38) 100%);
  /* background-color: black; */

  cursor: pointer;
}

input {
  border: 2px solid black;
  margin-right: 1px;
  border-radius: 2px;
  padding-left: 4px;
  margin-bottom: 4px;
  margin-right: 4px;
  height: 22px;
  width: 200px; /* Ovo mozda obrisati? ? ?  */
}

input:hover {
  background-color: rgb(242, 242, 242);
}

.body-container {
  display: flex;
}

.quick-task-container {
  display: flex;
  align-items: center;
  height: fit-content; /* set height */

  /* background: linear-gradient(90deg, rgb(108, 170, 1) 0%, rgb(0, 81, 7) 100%); green*/
  background: linear-gradient(90deg, rgb(91, 91, 91) 0%, rgb(38, 38, 38) 100%);
  padding: 2px 6px 8px 6px;
  border: 3px solid rgb(4, 4, 4);
  border-radius: 18px;
  border-bottom-width: 8px;
  border-right-width: 6px;

  overflow-y: auto;
  overflow-x: hidden;
  margin: 0px 8px;
}

.quick-task-input {
  color: white;
  background-color: rgb(50, 50, 50);
  outline: none;
}

.quick-task-input:hover {
  background-color: rgb(38, 38, 38);
}

.input-container {
  display: flex;
}

.input-status-container,
.input-buttons-container {
  display: flex;
  flex-direction: column;
}

.status-container {
  display: flex;
  align-items: center;
  justify-content: right;
  color: white;
  width: 200px;
  height: 22px;
  /* border: 1px solid white; */
}

.status-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  margin-right: 12px;

  /* border: 1px solid white; */
}

.status-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.status-button-b,
.status-button-y,
.status-button-r {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12px;
  width: 12px;
  border: 3px solid black;
  border-radius: 18px;

  margin-right: 6px;
  margin-left: 2px;
  transition: 0.2s;
}

.status-button-r {
  background-color: rgb(171, 0, 0);
}
.status-button-y {
  background-color: rgb(200, 157, 0);
}
.status-button-b {
  background-color: rgb(0, 113, 154);
}

.status-button-r:hover {
  background-color: white;
  border-color: rgb(171, 0, 0);
}
.status-button-y:hover {
  background-color: white;
  border-color: rgb(200, 157, 0);
}
.status-button-b:hover {
  background-color: white;
  border-color: rgb(0, 113, 154);
}

/* .status-button-b-active,
.status-button-y-active,
.status-button-r-active {
} */

